@import "../../style/viriables.scss";

.wrapper {
  padding: 0 0.18rem;
}

.search {
  line-height: 0.32rem;
  margin: 0.14rem 0 0.04rem 0;
  display: flex;
  &__back {
    width: 0.3rem;
    font-size: 0.24rem;
    color: #b6b6b6;
  }
  &__content {
    display: flex;
    flex: 1;
    background: $search-bgColor;
    border-radius: 0.16rem;
    &__icon {
      width: 0.44rem;
      text-align: center;
      color: $search-fontColor;
    }
    &__input {
      border: none;
      outline: none;
      width: 100%;
      padding-right: 0.2rem;
      background: none;
      height: 0.32rem;
      color: $content-fontcolor;
      &::placeholder {
        color: $content-fontcolor;
      }
    }
  }
}
