@font-face {
    font-family: 'iconfont';  /* Project id 2633510 */
    src: url('//at.alicdn.com/t/font_2633510_qm5braeeh59.woff2?t=1624954656766') format('woff2'),
    url('//at.alicdn.com/t/font_2633510_qm5braeeh59.woff?t=1624954656766') format('woff'),
    url('//at.alicdn.com/t/font_2633510_qm5braeeh59.ttf?t=1624954656766') format('truetype');
    }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }