// 首页底部导航
.docker {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    padding: 0 .18rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .49rem;
    border-top: .01rem solid $content-bgColor;
    color: $content-fontcolor;
    &__item{
        flex: 1;
        text-align: center;
        .iconfont{
            margin: .07rem 0 .02rem 0;
            font-size: .18rem;
        };
        &--active{
            color: #1FA4FC;
        }
    }
    &title{
        font-size: .2rem;
        transform: scale(.5,.5);
        transform-origin: center top;
    }
}

// 首页顶部定位区域及搜索框
.wrapper{
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: .5rem;
    right: 0;
    padding: 0 .18rem .2rem .18rem;
    & .position{
        @include ellipsis;
        position: relative;
        padding: .16rem .24rem .16rem 0;
        line-height: .22rem;
        font-size: .16rem;
        color: $content-fontcolor;
        &__icon {
            position: relative;
            margin-top: .01rem;
            font-size: .2rem;
        }
        &__notice{
            position: absolute;
            right: 0;
            top: .17rem;
            font-size: .2rem;
        }
    }
    & .search{
        margin-bottom: .12rem;
        line-height: .32rem;
        background-color: #F5F5F5;
        color: #B7B7B7;
        border-radius: .16rem;
        .iconfont{
            position: relative;
            top: .03rem;
            display: inline-block;
            padding: 0 .08rem 0 .14rem;
            font-size: .22rem;
        }
        &__text{
            display: inline-block;
            padding: .05rem 0;
            font-size: .14rem;
            width: 2.6rem;
            border: 0px;
            background-color: #F5F5F5;
            &--focus:focus{
                background-color: white;
            }
        }
    }
}

// 首页banner
.banner{
    height: 0;
    overflow: hidden;
    padding-bottom: 25.4%;
    &__img{
        width: 100%;
    }
}

// 中间栅格的多个icons
.icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: .16rem;
    &__item {
        width: 20%;
        &__img{
            display: block;
            width: .4rem;
            height: .4rem;
            margin: 0 auto;
        }
        &__desc{
            margin: .06rem 0 .16rem 0;
            text-align: center;
            color: $content-fontcolor;
        }
    }
}

// 灰色分隔符
.gap{
    height: .1rem;
    background-color: $content-bgColor;
    margin: 0 -.18rem;
}

.nearby{
    &__title{
        margin: .16rem 0 .02rem 0;
        font-size: .18rem;
        font-weight: normal;
        color: $content-fontcolor;
    }
    &__item{
        display: flex;
        padding-top: .12rem;
        &__img{
            margin-right: .16rem;
            width: .56rem;
            height: .56rem;
        }
    }
    &__content{
        flex: 1;
        border-bottom: 1px solid $content-bgColor;
        padding-top: .12rem 0;
        &__title{
            line-height: .22rem;
            font-size: .16rem;
            color: $content-fontcolor;
        }
        &__tags{
            margin-top: .08rem;
            line-height: .18rem;
            font-size: .13rem;
            color: $content-fontcolor;
        }
        &__tag{
            margin-right: .16rem;
        }
        &__highlight{
            color: #E93B3B ;
        }
    }
}